#DIV_1
  #DIV_2
    #DIV_3
      #DIV_4
        img#IMG_5(src='images/logo-cesnet.svg', width='300', alt='')
      #DIV_6
        h1#H1_7
          | Links
        #DIV_8
          ul#UL_9
            li#LI_10
              #DIV_11
                a#A_12(href='https://www.eduroam.org/', title='https://www.eduroam.org/', rel='nofollow') eduroam.org
            li#LI_13
              #DIV_14
                a#A_15(href='http://pki.cesnet.cz/cs/ch-intro.html', title='http://pki.cesnet.cz/cs/ch-intro.html', rel='nofollow') CESNET PKI
            li#LI_16
              #DIV_17
                a#A_18(href='http://www.eduid.cz', title='http://www.eduid.cz', rel='nofollow') eduID.cz
        // cachefile /var/lib/dokuwiki/farm/www.eduroam.cz/data/cache/e/e69705af824ec9cbce7138d8c05d42c3.xhtml used
      #DIV_19
        h1#H1_20
          | Contact
        #DIV_21
          p#P_22
            | CESNET, z. s. p. o.
            br#BR_23
            |  Zikova 4, 16000 Prague 6
            br#BR_24
            |  Tel: +420 224 352 994
            br#BR_25
            |  Fax: +420 224 320 269
            br#BR_26
            a#A_27(href='mailto:info@cesnet.cz', title='info@cesnet.cz') info@cesnet.cz
        // cachefile /var/lib/dokuwiki/farm/www.eduroam.cz/data/cache/a/ac27c09496f666aaa210d44d91720145.xhtml used
      #DIV_28
        h1#H1_29
          | Service desk
        #DIV_30
          p#P_31
            | Tel: +420 224 352 994
            br#BR_32
            |  GSM: +420 602 252 531
            br#BR_33
            |  Fax: +420 224 313 211
            br#BR_34
            a#A_35(href='mailto:support@cesnet.cz', title='support@cesnet.cz') support@cesnet.cz
        // cachefile /var/lib/dokuwiki/farm/www.eduroam.cz/data/cache/c/cf15bcb3bc8dbde6525203a96fe55dd5.xhtml used
    #DIV_36
      | © 1996–2018 CESNET, z. s. p. o.

