extends layout

block content
  script.
    var data = !{JSON.stringify(data)};

  .grid(ng-controller="index_controller")

    p.row
      | Synchronizováno jednou denně. Aktualizaci lze vynutit kliknutím na jméno organizace.

    form.row

      label Vybrat
      select(ng-model='orgs_connection_filter')
        each key, val in {"pouze připojující se" : "připojuje se", "připojené" : "připojeno", "odpojené" : "odpojeno", "všechny" : ""}
          option(value = key) #{val}

      label organizace s názvem
      input(type="text", ng-model='orgs_name_filter')

      label řadit
      select(ng-model='sort_type')
        each key, val in {"abecedně" : "org_name", "podle data připojení" : "connection_timestamp", "podle data registrace" : "register_timestamp", "podle změn" : "last_change"}
          option(value = key) #{val}

      label.clickable(for='reverse_sort') Obrátit směr řazení
      input#reverse_sort(type="checkbox" ng-model='reverse_sort')

    table.table.striped.hovered
      thead
        tr
          th Název organizace
          th Realmy organizace
          th Správci
          th Typ připojení
          th
            | Registrováno </br>
            | Připojeno </br>
            | Jmenování
          th Testovací uživatel
          th Informace o pokrytí
          th RADIUS server
          th Stav připojení

          //-th Datum poslední změny

          th Beze změny
      tbody
        tr(ng-repeat="row in data | filter : { connection_status : orgs_connection_filter, org_name : orgs_name_filter } | orderBy: sort_type : reverse_sort")

          td.red_color(ng-if='row.org_name === undefined')
            a(href="/{{row.realms[0]}}") {{row.org_name}}

          td(ng-if='row.org_name !== undefined')
            a(href="/{{row.realms[0]}}") {{row.org_name}}

          td.realms
            ul
              li(ng-repeat='realm in row.realms')
                | {{realm}}

          td.managers
            ul
              li(ng-repeat='manager in row.managers track by $index')
                | {{row.managers[$index]}}

          td(ng-if='row.type == "SP"' data-balloon="Zkratka SP znamená, že organizace poskytuje eduroam konektivitu ale nemá vlastní uživatele." data-balloon-pos="up") {{row.type}}
          td(ng-if='row.type != "SP"' data-balloon="Zkratka IdP+SP znamená, že organizace má vlastní uživatele a poskytuje eduroam konektivitu." data-balloon-pos="up") {{row.type}}

          //- TODO - treti datum
          td.red_color(ng-if='row.register_date === undefined || row.connection_date === undefined')
            ul
              li
                | {{ row.register_date }}
              li
                | {{ row.connection_date }}

          td.date(ng-if='row.register_date !== undefined && row.connection_date !== undefined')
            ul
              li
                | {{ row.register_date }}
              li
                | {{ row.connection_date }}

          td {{row.testing_id}}
          td {{row.xml_url}}

          td.red_color(ng-if='row.radius === undefined') {{row.radius}}
          td(ng-if='row.radius !== undefined') {{row.radius}}

          td {{row.connection_status}}

          //-td.date {{row.last_change_date}}

          td {{row.without_changes}}

