extends layout

block content
  script.
    var data = !{JSON.stringify(data)};

  .grid(ng-controller="index_controller")

    p.row
      | Synchronizováno jednou denně. Aktualizaci lze vynutit kliknutím na jméno organizace.

    form.row

      label Vybrat
      select(ng-model='orgs_connection_filter')
        each key, val in {"pouze připojující se" : "připojuje se", "připojené" : "připojeno", "odpojené" : "odpojeno", "všechny" : ""}
          option(value = key) #{val}

      label organizace s názvem
      input(type="text", ng-model='orgs_name_filter')

      label řadit
      select(ng-model='sort_type')
        each key, val in {"abecedně" : "org_name", "podle data připojení" : "connection_timestamp", "podle data registrace" : "register_timestamp", "podle změn" : "last_change"}
          option(value = key) #{val}

      label.clickable(for='reverse_sort') Obrátit směr řazení
      input#reverse_sort(type="checkbox" ng-model='reverse_sort')


      //----------------------------------------------------------------------------------------
      //- include main table

      include ./main_table.pug
