#cesnet_linker_placeholder
  noscript
    .cl_actions
    |          Nemáte povolený JavaScript. Přehled služeb e-infrastruktury CESNET získáte na stránce:
    a(href='http://cesnet.cz/sluzby') http://cesnet.cz/sluzby
    | .
script(type='text/javascript', async='', src='https://linker2.cesnet.cz/linker.js')

