table.table.striped.hovered
  thead
    tr
      th.sticky_header Název organizace
      th.sticky_header Realmy organizace
      th.sticky_header Správci
      th.sticky_header Typ připojení
      th.sticky_header
        | Registrováno </br>
        | Připojeno </br>
        | Prohlášení
      th.sticky_header Testovací uživatel
      th.sticky_header Informace o pokrytí
      th.sticky_header RADIUS server
      th.sticky_header Stav připojení

      //-th Datum poslední změny

      th.sticky_header Beze změny


    //----------------------------------------------------------------------------------------


  tbody
    tr(ng-repeat="row in data | filter : { connection_status : orgs_connection_filter, org_name : orgs_name_filter } | orderBy: sort_type : reverse_sort")

      td.red_color(ng-if='row.org_name === undefined')
        a(href="/{{row.realms[0]}}") {{row.org_name}}

      td(ng-if='row.org_name !== undefined')
        a(href="/{{row.realms[0]}}") {{row.org_name}}

      td.norwap
        ul
          li(ng-repeat='realm in row.realms')
            | {{realm}}

      td.nowrap
        ul
          li(ng-repeat='manager in row.managers track by $index')
            | {{row.managers[$index]}}

      td(ng-if='row.type == "SP"' data-balloon="Zkratka SP znamená, že organizace poskytuje eduroam konektivitu ale nemá vlastní uživatele." data-balloon-pos="right") {{row.type}}
      td(ng-if='row.type == "IdP+SP"' data-balloon="Zkratka IdP+SP znamená, že organizace má vlastní uživatele a poskytuje eduroam konektivitu." data-balloon-pos="right") {{row.type}}
      td(ng-if='row.type == "IdP"' data-balloon="Zkratka IdP znamená, že organizace má vlastní uživatele." data-balloon-pos="right") {{row.type}}


      td
        ul
          li.red_color(ng-if='row.register_date === undefined') ??
          li(ng-if='row.register_date !== undefined') {{ row.register_date }}

          li.red_color(ng-if='row.connection_date === undefined') ??
          li(ng-if='row.connection_date !== undefined') {{ row.connection_date }}

          li(ng-if='row.org_active == true' data-balloon="Prohlášení není vyžadováno." data-balloon-pos="right") {{row.appointment_delivered}}

          //- no line breaking here
          li.nowrap(ng-if='row.org_active != true && row.appointment_delivered == "ano"') {{row.appointment_delivered}} {{row.appointment_date}}
          li.red_color(ng-if='row.org_active != true && row.appointment_delivered != "ano"') {{row.appointment_delivered}}

      td(ng-if='row.testing_id == "ano"') {{row.testing_id}}
      td(ng-if='row.testing_id == "n/a"' data-balloon="Testovací uživatel není vyžadován." data-balloon-pos="right") {{row.testing_id}}
      td.red_color(ng-if='row.testing_id == "ne"') {{row.testing_id}}

      td(ng-if='row.xml_url == "ano"') {{row.xml_url}}
      td.red_color(ng-if='row.xml_url != "ano"') {{row.xml_url}}

      td(ng-if='row.radius == "ano"') {{row.radius}}
      td.red_color(ng-if='row.radius != "ano"') {{row.radius}}

      td.nowrap {{row.connection_status}}

      td(ng-if='row.connection_status == "připojeno"') n/a
      td(ng-if='row.connection_status != "připojeno"') {{row.without_changes}}
