extends layout

block content
  script.
    var data = !{JSON.stringify(data)};

  h3 Stav připojování k eduroam.cz
  p
    | Zapojení organizace do eduroamu je komplexní úkon, níže uvedená tabulka uvádí stav jednotlivých dílčích kroků. Pokud je organizace povinna dodat #[a(href="https://www.eduroam.cz/cs/spravce/pripojovani/spravci#prohlaseni_zadatele_o_clenstvi_v_ceske_eduroam_federaci") Prohlášení] nemusí čekat na jeho doručení na CESNET a může pokračovat v plnění dalších kroků.
  p

  div(ng-controller="org_controller")

    h3 Aktuální stav

    table.table.striped.hovered
      thead
        tr
          th
          th Stav
          th Vysvětlení
          th Dokumentace
      tbody

        //----------------------------------------------------------------------------------------

        tr
          td Registrace organizace
          td.nowrap.bg-green(ng-if='data.length > 0') ano <br /> {{data[0].register_date}}
          td(ng-if='data.length > 0') Informace o realmu, RADIUS serveru a jmenování správců bylo doručeno a zaevidováno na CESNETu.

          td.bg-lightRed(ng-if='data.length == 0') ne
          td(ng-if='data.length == 0') Informace o realmu, RADIUS serveru a jmenování správců nejsou k dispozici.

          td
            a(href="https://www.eduroam.cz/cs/spravce/pripojovani/spravci") Dokumentace k registraci


        //----------------------------------------------------------------------------------------

        tr
          td Dodané prohlášení

          td.bg-green(ng-if='data[0].appointment_delivered == "n/a"') {{data[0].appointment_delivered}}
          td(ng-if='data[0].appointment_delivered == "n/a"') Organizace je připojena k CESNETu. Dodatečná administrativa se jí netýká.

          td.nowrap.bg-green(ng-if='data[0].appointment_delivered == "ano"') {{data[0].appointment_delivered}} <br /> {{data[0].appointment_date}}
          td(ng-if='data[0].appointment_delivered == "ano"') Organizace dodala "Prohlášení žadatele o členství v české eduroam federaci".

          td.bg-lightRed(ng-if='data[0].appointment_delivered == "ne"') {{data[0].appointment_delivered}}
          td(ng-if='data[0].appointment_delivered == "ne"') Čekáme na dodání "Prohlášení žadatele o členství v české eduroam federaci".

          td.bg-lightRed(ng-if='data.length == 0') ne
          td(ng-if='data.length == 0') Čekáme na dodání "Prohlášení žadatele o členství v české eduroam federaci".

          td
            a(href="https://www.eduroam.cz/cs/spravce/pripojovani/spravci#prohlaseni_zadatele_o_clenstvi_v_ceske_eduroam_federaci") Dokumentace k prohlášení


        //----------------------------------------------------------------------------------------

        tr
          td RADIUS server

          td.bg-green(ng-if='data[0].radius == "ano"') {{data[0].radius}}
          td(ng-if='data[0].radius == "ano"') RADIUS server je definován.

          td.bg-lightRed(ng-if='data[0].radius != "ano" && data.length > 0') {{data[0].radius}}
          td.bg-lightRed(ng-if='data[0].radius != "ano" && data.length == 0') ne

          td(ng-if='data[0].radius != "ano"') RADIUS server není definován. Každá zapojená organizace musí mít k dispozici RADIUS server, který bude obsluhovat autentizační požadavky.


          td
            a(href="https://www.eduroam.cz/cs/spravce/pripojovani/radius/uvod") Dokumentace k RADIUS serveru


        //----------------------------------------------------------------------------------------

        tr
          td Testovací uživatel

          td.bg-green(ng-if='data[0].testing_id == "ano"') {{data[0].testing_id}}
          td(ng-if='data[0].testing_id == "ano"') Testovací uživatel byl dodán.

          td.bg-lightRed(ng-if='data[0].testing_id != "ano" && data.length > 0') {{data[0].testing_id}}
          td.bg-lightRed(ng-if='data[0].testing_id != "ano" && data.length == 0') ne

          td(ng-if='data[0].testing_id != "ano"') Testovací uživatel nebyl dodán. Každá připojená organizace je povinna dodat trvale funkční testovací účet.

          td
            a(href="https://www.eduroam.cz/cs/spravce/pripojovani/testovaci_ucet") Dokumentace k testovacímu účtu


        //----------------------------------------------------------------------------------------


        tr
          td Informace o pokrytí

          td.bg-green(ng-if='data[0].xml_url == "ano"') {{data[0].xml_url}}
          td(ng-if='data[0].xml_url == "ano"') Informace o pokrytí jsou dostupné.

          td.bg-lightRed(ng-if='data[0].xml_url != "ano" && data.length > 0') {{data[0].xml_url}}
          td.bg-lightRed(ng-if='data[0].xml_url != "ano" && data.length == 0') ne

          td(ng-if='data[0].xml_url != "ano"') Informace o pokrytí nejsou dostupné. Informace o pokrytí jsou předávány skrze XML soubor na webu organizace.

          td
            a(href="https://www.eduroam.cz/cs/spravce/edudb/institution_xml") Dokumentace k pokrytí


        //----------------------------------------------------------------------------------------


        tr
          td Připojeno k eduroam.cz

          td.nowrap.bg-green(ng-if='data[0].connection_status == "připojeno"') {{data[0].connection_status}} <br /> {{data[0].connection_date}}
          td(ng-if='data[0].connection_status == "připojeno"') Úspěšně připojeno k eduroam.cz.

          td.nowrap.bg-orange(ng-if='data[0].connection_status == "připojuje se"') {{data[0].connection_status}}
          td(ng-if='data[0].connection_status == "připojuje se"') Probíhá připojování k eduroam.cz. K úspěšnému dokončení připojování musí být splněny všechny dílčí admistrativní kroky a musí projít všechny povinné technické testy.

          td.bg-lightRed(ng-if='data[0].connection_status == "odpojeno"') {{data[0].connection_status}}
          td(ng-if='data[0].connection_status == "odpojeno"') Dočasně odpojedno od eduroam.cz z technicko-administativních důvodů.

          td.bg-lightRed(ng-if='data.length == 0') odpojeno
          td(ng-if='data.length == 0') Není připojeno k eduroam.cz.

          td
            a(href="https://www.eduroam.cz/cs/spravce/pripojovani/uvod") Dokumentace k připojení


        //----------------------------------------------------------------------------------------
        //----------------------------------------------------------------------------------------
        //----------------------------------------------------------------------------------------


    h3 Historie změn
    //- include is not used here because of different colors is ./main_table.pug

    //- TODO - fixed header?
    table.table.striped.hovered
      thead
        tr
          th Název organizace
          th Realmy organizace
          th Správci
          th Typ připojení
          th
            | Registrováno </br>
            | Připojeno </br>
            | Prohlášení
          th Testovací uživatel
          th Informace o pokrytí
          th RADIUS server
          th Stav připojení
          th Datum změny

        //----------------------------------------------------------------------------------------


      tbody
        tr(ng-repeat="row in data | filter : { connection_status : orgs_connection_filter, org_name : orgs_name_filter } | orderBy: sort_type : reverse_sort")

          td.bg-lightRed(ng-if='row.org_name === undefined')
            a(href="/{{row.realms[0]}}") {{row.org_name}}

          td(ng-if='row.org_name !== undefined')
            a(href="/{{row.realms[0]}}") {{row.org_name}}

          td.norwap
            ul
              li(ng-repeat='realm in row.realms')
                | {{realm}}

          td.nowrap
            ul
              li(ng-repeat='manager in row.managers track by $index')
                | {{row.managers[$index]}}

          td(ng-if='row.type == "SP"' data-balloon="Zkratka SP znamená, že organizace poskytuje eduroam konektivitu ale nemá vlastní uživatele." data-balloon-pos="right") {{row.type}}
          td(ng-if='row.type == "IdP+SP"' data-balloon="Zkratka IdP+SP znamená, že organizace má vlastní uživatele a poskytuje eduroam konektivitu." data-balloon-pos="right") {{row.type}}
          td(ng-if='row.type == "IdP"' data-balloon="Zkratka IdP znamená, že organizace má vlastní uživatele." data-balloon-pos="right") {{row.type}}


          td
            ul
              li.bg-lightRed(ng-if='row.register_date === undefined') ??
              li(ng-if='row.register_date !== undefined') {{ row.register_date }}

              li.bg-lightRed(ng-if='row.connection_date === undefined') ??
              li(ng-if='row.connection_date !== undefined') {{ row.connection_date }}

              li(ng-if='row.org_active == true' data-balloon="Prohlášení není vyžadováno." data-balloon-pos="right") {{row.appointment_delivered}}

              //- no line breaking here
              li.nowrap(ng-if='row.org_active != true && row.appointment_delivered == "ano"') {{row.appointment_date}}
              li(ng-if='row.org_active != true && row.appointment_delivered == "n/a"' data-balloon="Prohlášení není vyžadováno." data-balloon-pos="right") {{row.appointment_delivered}}
              li.bg-lightRed(ng-if='row.org_active != true && row.appointment_delivered == "ne"') {{row.appointment_delivered}}

          td.bg-green(ng-if='row.testing_id == "ano"') {{row.testing_id}}
          td.bg-green(ng-if='row.testing_id == "n/a"' data-balloon="Testovací uživatel není vyžadován." data-balloon-pos="right") {{row.testing_id}}
          td.bg-lightRed(ng-if='row.testing_id == "ne"') {{row.testing_id}}

          td.bg-green(ng-if='row.xml_url == "ano"') {{row.xml_url}}
          td.bg-lightRed(ng-if='row.xml_url != "ano"') {{row.xml_url}}

          td.bg-green(ng-if='row.radius == "ano"') {{row.radius}}
          td.bg-lightRed(ng-if='row.radius != "ano"') {{row.radius}}

          td.bg-green(ng-if='row.connection_status == "připojeno"') {{row.connection_status}}
          td.nowrap.bg-orange(ng-if='row.connection_status == "připojuje se"') {{row.connection_status}}
          td.bg-lightRed(ng-if='row.connection_status == "odpojeno"') {{row.connection_status}}

          td.nowrap {{row.last_change_date}}

