td.nowrap {
  white-space: nowrap;
}

ul {
  display:table-row;
  list-style:none;
  padding-left:0;
}

ul li {
  vertical-align:top
  display: table-cell;
  list-style:none;
  padding-left:0;
}

li.nowrap {
  white-space: nowrap;
}

td {
  vertical-align:top
}

th {
  vertical-align:top
}

.sticky_header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}
