.main {
  border-top: 12px solid #00658d;
  padding-bottom:320px;
}

p {
  padding-left: 10px;
}

form {
  padding-left: 5px;
}

label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: default;
}

h3 {
  padding-left: 10px;
}

.clickable {
  cursor: pointer;
}

.red_color {
  background-color: #f3c9c6;
}

#container {
    min-height:100%;
    position:relative;
}
