.main {
  border-top: 12px solid #00658d;
  padding-bottom:320px;
  background-color:#fff;
}

p {
  padding-left: 10px;
}

form {
  padding-left: 5px;
}

label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: default;
}

h3 {
  padding-left: 10px;
}

.clickable {
  cursor: pointer;
}

.red_color {
  background-color: #f3c9c6;
}

#container {
    min-height:100%;
    position:relative;
}

#cesnet_linker_placeholder {
  min-height: 45px;
  background-color: #4B4D4A;
}

#cesnet_linker_placeholder noscript {
  display: block;
  padding: 0 1em;
  line-height: 44px;
  border-bottom: 1px solid #999999;
  color: #E1E5E9;
}

#cesnet_linker_placeholder noscript a {
  color: #E1E5E9;
  text-decoration: underline;
}

#cesnet_linker_placeholder noscript a:hover {
  text-decoration: none;
}

#cesnet_linker_placeholder noscript .cl_actions {
  float: right;
  margin-left: 1em;
}

#cesnet_linker_placeholder noscript .cl_actions a {
  display: inline;
  padding: 5px;
  text-decoration: none;
}

