.main {
  border-top: 12px solid #00658d;
  min-height: 100%;
}

p {
  padding-left: 10px;
}

form {
  padding-left: 5px;
}

label {
  padding-left: 5px;
  padding-right: 5px;
  cursor: default;
}

h3 {
  padding-left: 10px;
}

.clickable {
  cursor: pointer;
}

.red_color {
  background-color: #f3c9c6;
}

#DIV_1 {
    bottom: 0px;
    box-sizing: border-box;
    clear: both;
    color: rgb(255, 255, 255);
    height: 320px;
    left: 0px;
    position: relative;
    /* position: absolute; */
    /* position: fixed; */
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    top: 0px;
    /* width: 1905px; */
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 952.5px 160px;
    transform-origin: 952.5px 160px;
    caret-color: rgb(255, 255, 255);
    background: rgb(75, 77, 74) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 12px solid rgb(220, 220, 218);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 0px none rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 14px / 19.6px Helvetica, Arial, sans-serif;
    /* margin: -320px 0px 0px; */
    margin: 0px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 40px 20px;
}/*#DIV_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 220.953px;
    max-width: 1230px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 1230px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 615px 110.469px;
    transform-origin: 615px 110.469px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 17.15px Helvetica, Arial, sans-serif;
    margin: 0px 317.5px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 40px;
}/*#DIV_2*/

#DIV_3 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 575px 0px;
    transform-origin: 575px 0px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 17.15px Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_3*/

#DIV_4 {
    color: rgb(255, 255, 255);
    float: left;
    height: 183.953px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 454.25px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 246.672px 91.9688px;
    transform-origin: 246.672px 91.9688px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 39.0938px 0px 0px;
}/*#DIV_4*/

#IMG_5 {
    color: rgb(102, 102, 102);
    height: 163.953px;
    max-width: 100%;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 300px;
    column-rule-color: rgb(102, 102, 102);
    perspective-origin: 150px 81.9688px;
    transform-origin: 150px 81.9688px;
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: italic normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(102, 102, 102) none 0px;
}/*#IMG_5*/

#DIV_6 {
    color: rgb(255, 255, 255);
    float: left;
    height: 126.188px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 179.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 109.234px 63.0938px;
    transform-origin: 109.234px 63.0938px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 39.0938px 0px 0px;
}/*#DIV_6*/

#H1_7, #H1_20, #H1_29 {
    clear: left;
    color: rgb(255, 255, 255);
    height: 14px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 179.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 89.6875px 12.3906px;
    transform-origin: 89.6875px 12.3906px;
    caret-color: rgb(255, 255, 255);
    border-top: 0px none rgb(255, 255, 255);
    border-right: 0px none rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-left: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 12.25px / 14.7px Helvetica, Arial, sans-serif;
    margin: 0px 0px 12.25px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 9.8px;
}/*#H1_7, #H1_20, #H1_29*/

#DIV_8 {
    color: rgb(255, 255, 255);
    height: 72px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 179.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 89.6875px 36px;
    transform-origin: 89.6875px 36px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_8*/

#UL_9 {
    color: rgb(255, 255, 255);
    height: 72px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 179.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 89.6875px 36px;
    transform-origin: 89.6875px 36px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    list-style: square outside none;
    margin: 0px 0px 17.15px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px;
}/*#UL_9*/

#LI_10, #LI_13, #LI_16 {
    background-position: 0px 6.125px;
    color: rgb(255, 255, 255);
    height: 24px;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 154.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 89.6875px 12px;
    transform-origin: 89.6875px 12px;
    caret-color: rgb(255, 255, 255);
    background: 77797c no-repeat scroll 0px 6.125px / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 0px 25px;
}/*#LI_10, #LI_13, #LI_16*/

#DIV_11, #DIV_14, #DIV_17 {
    color: rgb(255, 255, 255);
    height: 24px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 154.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 77.1875px 12px;
    transform-origin: 77.1875px 12px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_11, #DIV_14, #DIV_17*/

#A_12, #A_15 {
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_12, #A_15*/

#A_18 {
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_18*/

#DIV_19 {
    color: rgb(255, 255, 255);
    float: left;
    height: 174.188px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 179.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 109.234px 87.0938px;
    transform-origin: 109.234px 87.0938px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 39.0938px 0px 0px;
}/*#DIV_19*/

#DIV_21 {
    color: rgb(255, 255, 255);
    height: 120px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 179.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 89.6875px 60px;
    transform-origin: 89.6875px 60px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_21*/

#P_22 {
    color: rgb(255, 255, 255);
    height: 120px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 179.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 89.6875px 60px;
    transform-origin: 89.6875px 60px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    margin: 0px 0px 17.15px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_22*/

#BR_23, #BR_24, #BR_26, #BR_32, #BR_34 {
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_23, #BR_24, #BR_26, #BR_32, #BR_34*/

#BR_25, #BR_33 {
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#BR_25, #BR_33*/

#A_27, #A_35 {
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: underline solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#A_27, #A_35*/

#DIV_28 {
    color: rgb(255, 255, 255);
    float: left;
    height: 150.188px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 179.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 89.6875px 75.0938px;
    transform-origin: 89.6875px 75.0938px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_28*/

#DIV_30 {
    color: rgb(255, 255, 255);
    height: 96px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 179.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 89.6875px 48px;
    transform-origin: 89.6875px 48px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_30*/

#P_31 {
    color: rgb(255, 255, 255);
    height: 96px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 179.391px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 89.6875px 48px;
    transform-origin: 89.6875px 48px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 24.5px Helvetica, Arial, sans-serif;
    margin: 0px 0px 17.15px;
    outline: rgb(255, 255, 255) none 0px;
}/*#P_31*/

#DIV_36 {
    clear: both;
    color: rgb(255, 255, 255);
    height: 17px;
    text-align: right;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    width: 1150px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 575px 8.5px;
    transform-origin: 575px 8.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 12.25px / 17.15px Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_36*/


